*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: min(69.375rem, 100% - 5rem);

  --clr-lavender: hsl(234deg, 25%, 52%);
  --clr-pink: hsl(341deg, 92%, 62%);
  --clr-light-pink: hsl(341deg, 100%, 83%);
  --clr-dark: hsl(233deg, 54%, 16%);
  --clr-gray: hsl(232deg, 10%, 56%);
  --clr-white: hsl(0deg, 0%, 100%);
  --clr-primary-gradient: linear-gradient(hsl(13deg, 100%, 64%), hsl(322deg, 87%, 55%));
  --clr-secondary-gradient: linear-gradient(hsl(237deg, 100%, 64%), hsl(322deg, 87%, 55%));

  --font-stack: 'Plus Jakarta Sans', sans-serif;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-stack);
  font-weight: 500;
  line-height: 1.6;
  background-color: #F2F2F2;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
  line-height: 1.3;
}

img {
  max-width: 100%;
  display: block;
}

// MIXINS
@mixin tablet {
  @media screen and (min-width: 47rem) {
    @content;
  }  
}

@mixin desktop {
  @media screen and (min-width: 67.5rem) {
    @content;
  }  
}

// UTILITIES
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

// CLASSES
.container {
  width: calc(100% - 2rem);
  margin-inline: auto;

  @include tablet {
    width: var(--container-width);
  }
}

.btn {
  display: inline-block;
  padding: 0.625rem 1.5rem;
  font-weight: 700;
  line-height: 1.625rem;
  border-radius: 50rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;

  @include desktop {
    font-size: 1.125rem;
    padding: 0.875rem 2rem;
  }

  &--dark {
    background-color: var(--clr-dark);

    &:hover {
      background-color: var(--clr-lavender);
    }
  }

  &--primary {
    background-image: var(--clr-primary-gradient);
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.6;
    }
  }

  &--secondary {
    background-image: var(--clr-secondary-gradient);

    &:hover {
      opacity: 0.6;
      transition: opacity 0.2s;
    }
  }
}

// SPECIFIC
.header {
  padding-top: 1rem;

  @include tablet {
    padding-top: 1.5rem;
  }

  img {
    width: 90px;

    @include desktop {
      width: 115px;
    }
  }
}

.hero {
  margin-top: 2.375rem;
  position: relative;

  @include tablet {
    margin-top: 6.25rem;
    margin-bottom: 13.125rem;
  }

  @include desktop {
    margin-top: 10.75rem;
    margin-bottom: 15.625rem;
  }

  &__inner {
    @include tablet {
      max-width: 25rem;
    }
    @include desktop {
      max-width: 28.75rem;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: var(--clr-dark);

    @include desktop {
      font-size: 3.5rem;
    }
  }

  &__lead {
    color: var(--clr-gray);
    margin-top: 1.625rem;

    @include desktop {
      font-size: 1.125rem;
      padding-right: 1rem;
      margin-top: 1.75rem;
    }
  }

  &__cta {
    margin-top: 1.5rem;
    padding: 15px 38px;

    @include desktop {
      margin-top: 2.5rem;
      font-size: 1.125rem;
      padding: 1rem 2rem;
      line-height: 1.6;
    }
  }

  img {
    width: 100%;
    max-width: initial;

    @include tablet {
      width: revert;
      position: absolute;
      z-index: -1;
      top: -260px;
      right: -340px;
    }

    @include desktop {
      top: -400px;
      right: -500px;
    }
  }

}

.courses {
  --column-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  margin-bottom: 5rem;
  row-gap: 2.5rem;

  @include tablet {
    --column-count: 2;
    column-gap: 0.75rem;
    row-gap: 3.5rem
  }

  @include desktop {
    --column-count: 3;
    column-gap: 1.875rem;
    row-gap: 5rem;
    margin-bottom: 8.75rem;
  }

  > * {
    padding-inline: 1.75rem;
    padding-top: 3.5rem;
    border-radius: 10px;

    @include tablet {
      padding-inline: 2rem;
    }

    @include desktop {
      border-radius: 15px;
      padding-top: 4rem;
    }
  }

  &__title {
    background-image: var(--clr-primary-gradient);
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;

    @include tablet {
      padding-top: 3.5rem;
    }

    @include desktop {
      padding-top: 4rem;
      font-size: 2rem;
    }
  }

  .course {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    @include desktop {
      padding-bottom: 2.5rem;
    }

    &__icon {
      position: absolute;
      top: -1.5rem;
    }

    &__title {
      color: var(--clr-dark);
      margin-bottom: 1rem;
      font-size: 1.25rem;

      @include desktop {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
      }
    }

    &__description {
      color: var(--clr-gray);
      flex: 1 1 0px;

      @include desktop {
        font-size: 1.125rem;
      }
    }

    &__link {
      margin-top: 1.5rem;
      color: var(--clr-pink);
      font-weight: 700;
      font-size: 1.125rem;
      align-self: flex-start;
      transition: color 0.2s;

      &:hover {
        color: var(--clr-light-pink);
      }
    }
  }
}

.footer {
  background-color: var(--clr-dark);
  padding-block: 2rem;
}