*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: min(69.375rem, 100% - 2rem);

  --clr-lavender: hsl(234deg, 25%, 52%);
  --clr-pink: hsl(341deg, 92%, 62%);
  --clr-light-pink: hsl(341deg, 100%, 83%);
  --clr-dark: hsl(233deg, 54%, 16%);
  --clr-gray: hsl(232deg, 10%, 56%);
  --clr-white: hsl(0deg, 0%, 100%);
  --clr-primary-gradient: linear-gradient(hsl(13deg, 100%, 64%), hsl(322deg, 87%, 55%));
  --clr-secondary-gradient: linear-gradient(hsl(237deg, 100%, 64%), hsl(322deg, 87%, 55%));

  --font-stack: 'Plus Jakarta Sans', sans-serif;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-stack);
  font-weight: 500;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}

img {
  max-width: 100%;
  display: block;
}

// UTILITIES
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

// CLASSES
.container {
  width: var(--container-width);
  margin-inline: auto;
}

.btn {
  display: inline-block;
  padding: 0.875rem 2rem;
  line-height: 1;
  font-weight: 700;
  border-radius: 50rem;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &--dark {
    background-color: var(--clr-dark);
  }

  &--primary {
    background-image: var(--clr-primary-gradient);
  }

  &--secondary {
    background-image: var(--clr-secondary-gradient);
  }

  &:hover {
    opacity: 0.5;
  }
}

// SPECIFIC
.header {
  padding-top: 1rem;

  img {
    width: 90px;
  }
}

.hero {
  margin-top: 2.375rem;
  position: relative;

  &__title {
    font-size: 2.5rem;
    line-height: 1.125;
  }

  img {
    width: 100%;
    margin-inline: -1rem;
  }

}

.footer {
  background-color: var(--clr-dark);
  padding-block: 2rem;
}